@charset "UTF-08";

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
    

header h1 {
    flex: 0 0 200px;
    margin-left: 10px;
}

ul{
    display: flex;
    flex-flow: row nowrap;
}

li {
    flex: 0 0 auto;
}