@charset "UTF-08";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color:#5964D9 ;
}

header {
    background-color: #A159D9;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

header h1 {
    color: whitesmoke;
    text-shadow: 1px 1px 5px black;
}

header ul {
    list-style-type: none;
}

header li {
    background-color: #CA59D9 ;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header li:hover{
    background-color: #AEA1D9;
    color: black;
    transition: 0.5s;
}

main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

article{
    background-color: #AEA1D9;
    flex: 0 1 800px;
    padding: 15px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 2px 2px 3px black;
}

article h2 {
    text-align: center;
}

article p {
    text-indent: 15px;
}
