@charset "UTF-8";

section#login {
    width: 990px;
    
    
}

section#login > div#imagem {
    float: left;
    width: 40%;
    height: 100%;
}
section#login > div#formulario {
    background-color: white;
    float: right;
    width: 50%;
    height: 80%;
    margin: 5%;
}