@charset "UTF-8";

body,html {
    background-image: linear-gradient( to bottom, #0BA8E6 ,#0BE693);
}

section#login {
    width: 80vw;
    
    
}

section#login p {
    font-size: 1.2em;}

section#login > div#imagem {
    float: right;
    width: 30%;
    height: 100%;
}
section#login > div#formulario {
    background-color: white;
    float: left;
    width: 60%;
    height: 85%;
    margin: 5%;
}

