@charset "UTF-8";

body {
    background-image: url(../imagens/back-pc.jpg);
}

img#telefone {
    display: none;
}

img#televisao{
    display: none;
}
img#tablet{
    display: none;
}
img#desktop{
    display: block;
    margin: auto;
}
img#impressora {
    display: none;
}