@charset "UTF-8";

article {
    width: 650px;
    line-height: 1.3em;
}

span#burguer {
    display: none;
}

nav {
    display:block!important;
}

nav#menu ul {text-align: left;
}

nav#menu li {
    display: inline-block;
    background-color: rgb(13, 214, 13);
    padding: 7px;
    color: black;
    margin-top: 10px;
    font-size: 1em;
    
}